@model IEnumerable<LeTrungKien_2210900034.Models.Ltk_TacGia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LtkCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ltk_TenTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ltk_TenTG)
        </td>
        <td>
            @Html.ActionLink("Edit", "LtkEdit", new { id=item.Ltk_MaTG }) |
            @Html.ActionLink("Details", "LtkDetails", new { id=item.Ltk_MaTG }) |
            @Html.ActionLink("Delete", "LtkDelete", new { id=item.Ltk_MaTG })
        </td>
    </tr>
}

</table>
