@model IEnumerable<LtkK22CNT4Lesson09DF.Models.SinhVien>

@{
    ViewBag.Title = "LtkIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LtkCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HocBong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiemTrungBinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Khoa.TenKH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocBong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiemTrungBinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Khoa.TenKH)
        </td>
        <td>
            @Html.ActionLink("LtkEdit", "LtkEdit", new { id=item.MaSV.Trim()}) |
            @Html.ActionLink("LtkDetails", "LtkDetails", new { id=item.MaSV.Trim() }) |
            @Html.ActionLink("LtkDelete", "LtkDelete", new { id=item.MaSV.Trim() })
        </td>
    </tr>
}

</table>
