@model LtkK22CNT4Lesson07DF.Models.ltkKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ltkKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ltkTenKhoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltkTenKhoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ltkTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ltkTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ltkMaKH }) |
    @Html.ActionLink("Back to List", "LtkIndex")
</p>
