@model IEnumerable<LtkK22CNT4Lesson09DF.Models.KetQua>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LtkCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Diem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MonHoc.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinhVien.HoSV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Diem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhVien.HoSV)
        </td>
        <td>
            @Html.ActionLink("Ltk:Edit", "LtkEdit", new { id = item.MaSV.Trim() }) |
            @Html.ActionLink("Ltk:Details", "LtkDetails", new { id = item.MaSV.Trim() }) |
            @Html.ActionLink("Ltk:Delete", "LtkDelete", new { id = item.MaSV.Trim() })
        </td>
    </tr>
}

</table>
